


.carousel-bg {
  height: 100vh;
}
.carousel-bg:nth-child(1) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1506377247377-2a5b3b417ebb?ixlib=rb-4.0.3&auto=format&fit=crop&w=1920&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
} 
.carousel-bg:nth-child(2) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('https://plus.unsplash.com/premium_photo-1682097091093-dd18b37764a5?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
} 
.carousel-bg:nth-child(3) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1700893417238-ce7c7f427996?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
} 
.hero-main {
  position: relative;
}
.hero-content-div {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-title {
  text-align: center;
}
.hero-subtitle {
  text-align: center;
}
.carousel_indicators_div {
    margin-bottom: 60px;
}
.carousel_indicators_div button {
    /* background: rgba(255, 255, 255, 0.7) !important; */
    border-radius: 50%;
    width: 15px !important;
    height: 15px !important;
    border: 0px !important;
}
.carousel_indicators_div button.active {
    /* background: #b91c1c !important; */
    border-radius: 50%;
    width: 15px !important;
    height: 15px !important;
    border: 0px !important;
}
.card.custom-card.wine-card .image-wrapper img.card-img-top {
    object-fit: contain;
    width: 308px;
    height: 287px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.image-wrapper {
  padding: 10px;
}